<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Emergency Information n Kaohsiung</title>
    <link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"/>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASYrmvf8Pg0awTHB4UQxjjymENhg717Qk&amp;callback=initMap"></script>
  </head>
  <body>
    <div id="content">
      <nav class="navbar fixed-top justify-content-between navstyle"><a class="navbar-brand">
          <div class="title"><i class="fas fa-exclamation-triangle"></i><span>高雄防災通</span></div></a>
        <form class="form-inline">
          <select class="navbar-text" id="jsdata">
            <option value="" disabled="disabled" selected="selected">--請選擇行政區--</option>
            <option value="全區">全區最新動態</option>
            <option value="" disabled="disabled">-- 高雄市區 --</option>
            <option value="楠梓區">楠梓區</option>
            <option value="左營區">左營區</option>
            <option value="鼓山區">鼓山區</option>
            <option value="三民區">三民區</option>
            <option value="鹽埕區">鹽埕區</option>
            <option value="前金區">前金區</option>
            <option value="新興區">新興區</option>
            <option value="苓雅區">苓雅區</option>
            <option value="前鎮區">前鎮區</option>
            <option value="旗津區">旗津區</option>
            <option value="小港區">小港區</option>
            <option value="" disabled="disabled">-- 鳳山地區 --</option>
            <option value="鳳山區">鳳山區</option>
            <option value="大寮區">大寮區</option>
            <option value="鳥松區">鳥松區</option>
            <option value="林園區">林園區</option>
            <option value="仁武區">仁武區</option>
            <option value="大樹區">大樹區</option>
            <option value="大社區">大社區</option>
            <option value="" disabled="disabled">-- 岡山地區 --</option>
            <option value="岡山區">岡山區</option>
            <option value="路竹區">路竹區</option>
            <option value="橋頭區">橋頭區</option>
            <option value="梓官區">梓官區</option>
            <option value="彌陀區">彌陀區</option>
            <option value="永安區">永安區</option>
            <option value="燕巢區">燕巢區</option>
            <option value="田寮區">田寮區</option>
            <option value="阿蓮區">阿蓮區</option>
            <option value="茄萣區">茄萣區</option>
            <option value="湖內區">湖內區</option>
            <option value="" disabled="disabled">-- 旗山地區 --</option>
            <option value="旗山區">旗山區</option>
            <option value="美濃區">美濃區</option>
            <option value="內門區">內門區</option>
            <option value="杉林區">杉林區</option>
            <option value="甲仙區">甲仙區</option>
            <option value="六龜區">六龜區</option>
            <option value="" disabled="disabled">-- 原住民區 --</option>
            <option value="茂林區">茂林區</option>
            <option value="那瑪夏區">那瑪夏區</option>
            <option value="桃源區">桃源區</option>
          </select>
        </form>
      </nav>
      <div id="cover">
        <h2>即時的市政資訊與服務</h2><a class="block" href="#map_area">↓</a>
      </div>
      <section id="map_area">
        <div class="container">
          <h5 class="page-header">即時災情地圖</h5>
          <div id="map"></div>
        </div>
      </section>
      <section id="info_area">
        <div class="container">
          <h5 class="page-header">災情詳細資訊</h5>
          <div class="card-columns">
            <div id="js-tbody"></div>
          </div>
        </div>
      </section>
      <section id="contact_area">
        <div class="container">
          <h5 class="page-header">我有其他災情要通報</h5>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">全市主要管道</li>
                <li class="list-group-item list-group-item-action list-group-item-action d-flex justify-content-between align-items-center">警察局 110<span class="badge badge-primary badge-pill">★</span></li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">消防局 119<span class="badge badge-primary badge-pill">★</span></li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">市民服務電話 1999<span class="badge badge-primary badge-pill">★</span></li>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">市災害應變中心 (07)8224567<span class="badge badge-primary badge-pill">★</span></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">高雄市區</li>
                <li class="list-group-item list-group-item-action" v-for="item in items01">{{item.centername}} {{item.tel}}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">鳳山地區</li>
                <li class="list-group-item list-group-item-action" v-for="item in items02">{{item.centername}} {{item.tel}}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">岡山地區</li>
                <li class="list-group-item list-group-item-action" v-for="item in items03">{{item.centername}} {{item.tel}}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">旗山地區與其他山區</li>
                <li class="list-group-item list-group-item-action" v-for="item in items04">{{item.centername}} {{item.tel}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="fixed-bottom">
      <div class="container"><a href="https://data.kcg.gov.tw/" target="_blank">資料來源：高雄市政府 資料開放平台</a></div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>